<center>
  <p><h1><b>Forma la palabra v1.0</b></h1>
  <p>
	Palabra: <%= @palabra %>
	<br /> <%= @pista %>

  <table>
     <tr>
         <td>
             <form method="post" action="/mostrar/">
                            <p><input type="submit" value="Mostrar Palabra" />
             </form>
         </td>
     </tr>
		<tr></tr>
		
		<form method="post" action="/recibirPalabra" autocomplete="off">
		<tr>
				<td>
					<p>Ingrese Palabra:
				</td>
				<td>
					<input type="text" name="palabra" />
				</td>
				<td>
					<input type="submit" value="Enviar" />
				</td>
		</tr>
<input type="hidden" name="palabraoriginal" value="<%= @palabraoriginal %>" />
								<input type="hidden" name="numerointento" value="<%= @numerointento %>" />
		</form>
		
		<tr>
			<td colspan="3">Resultado: <%= @resultado%></td>
		</tr>

<tr>
			<td colspan="3"><%= @msgintento%></td>
		</tr>

		<br /><br />

		<tr>
			<td colspan="2">Puntos Acumulados: <%= @totalpuntos%></td>
		</tr>
		

  </table>

</center>

